

<a href="/"></a>



<input type="text" value="{{naruto}}" name="{{authorupdate.name}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.maingenre}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.popularanime}}" />
  <input type="date" value="{{naruto}}" name="{{authorupdate.firstDate}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.popularchar}}" />
  <input type="string" value="{{naruto}}" name="{{authorupdate.recent}}" />
  <input type="date" value="{{naruto}}" name="{{authorupdate.recent}}" />


<h1> {{authorupdate.name}}</h1>
<h1>{{authorupdate.maingenre}}</h1>
<h1>{{authorupdate.popularanime}}</h1>
<h1>{{authorupdate.firstDate}}</h1>
<h1>{{authorupdate.popularchar}}</h1>
<h1>{{authorupdate.recent}}</h1>
<h1>{{authorupdate.recent}}</h1>





<form method="POST" action="/anime/{{animeid._id}}?_method=DELETE">
  <input type="submit" value="Delete" />
</form>
