<a href="/"></a>
<h1> {{authorid.name}}</h1>
<h1> {{authorid.works}}</h1>
<h1>{{authorid.maingenre}}</h1>
<h1>{{authorid.popularanime}}</h1>
<h1>{{authorid.firstDate}}</h1>
<h1>{{authorid.popularchar}}</h1>
<h1>{{authorid.recent}}</h1>





<form method="POST" action="/anime/{{authorid.id}}?_method=PUT">

    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
  <label for="un">Favorite Creator:</label>
    <input type="text" value="{{updatedauthor.works}}" name="name" />
    <label for="un">What are the works of the creator:</label>
    <input type="text" value="{{updatedauthor.works}}" name="works" />
    <label for="un">genre:</label>
    <input type="text" value="{{updatedauthor.maingenre}}" name="genre" />
    <label for="un">type:</label>
    <input type="text" value="{{updatedauthor.popularanime}}" name="popularanime" />
    <label for="un">start date:</label>
    <input type="date" value="{{updatedauthor.firstDate}}" name="firstDate" />
    <label for="un">main character:</label>
    <input type="text" value="{{updatedauthor.popularchar}}" name="popularchar" />
    <label for="un">When did the Anime end?:</label>
    <input type="date" value="{{updatedauthor.recent}}" name="recent" />
    



    <!--

  <!-
    Template for creating input form for a boolean object member
  -->






    <input type="submit" value="Update Shop" />
</form>


<form method="POST" action="/anime/{{authorid.id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>