
<img src="/incursio.gif" alt="" srcset="">
{{#each anime}}

 <a href="/anime/{{_id}}">{{animeid}}Pagoda Hall</a>
<h1> {{name}}</h1>
<h1>{{genre}}</h1>
<h1>{{type}}</h1>
<h1>{{StartDate}}</h1>
<h1>{{mainCharacter}}</h1>
<h1>{{EndDate}}</h1>
<h1>{{creator}}</h1>
<h1>{{createdAt}}</h1>


{{/each}}
