

<a href="/"></a>

<h1> {{animeid.name}}</h1>
<h1>{{animeid.genre}}</h1>
<h1>{{animeid.type}}</h1>
<h1>{{animeid.StartDate}}</h1>
<h1>{{animeid.mainCharacter}}</h1>
<h1>{{animeid.EndDate}}</h1>
<h1>{{animeid.creator}}</h1>


<h1>{{createdAt}}</h1>


<form method="POST" action="/anime/{{animeid._id}}?_method=DELETE">
  <input type="submit" value="Delete" />
</form>
