<form method="POST" action="/artist/artistlist" >
    <label name="name">Artist</label>
    <input type="text" name="name" />
    
    <label for="priority">works made by artist</label>
    <input type="text" name="works" />
    
    <label for="status">style of artist</label>
    <input type="text" name="style" />
    
    <label for="popularowork">artist most popular work</label>
    <input type="text" name="popularwork" />
    
    <label for="createdat">Most know Collaborators</label>
    <input type="text" name="collab" />
    
    <label for="careerdate">When did the artist start his Career</label>
    <input type="date" name="careerDate" />
    
    <label for="createdat">the artists most recent works</label>
    <input type="date" name="recent" />
    
  
<h1> {{artistid.name}}</h1>
<h1>{{artistid.works}}</h1>
<h1>{{artistid.style}}</h1>
<h1>{{artistid.popularwork}}</h1>
<h1>{{artistid.collab}}</h1>
<h1>{{artistid.careerDate}}</h1>
<h1>{{artistid.recent}}</h1>

  

    <input type="submit" value="submit" />
</form>


