<form method="POST" action="/author/{{authorid._id}}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
  <input type="text" value="{{naruto}}" name="{{authorupdate.name}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.maingenre}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.popularanime}}" />
  <input type="date" value="{{naruto}}" name="{{authorupdate.firstDate}}" />
  <input type="text" value="{{naruto}}" name="{{authorupdate.popularchar}}" />
  <input type="string" value="{{naruto}}" name="{{authorupdate.recent}}" />
  <input type="date" value="{{naruto}}" name="{{authorupdate.recent}}" />

  <!--
    Template for creating input form for a boolean object member
  -->
  

   



  <input type="submit" value="Update Shop" />
</form>
