<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <img src="/DSC100633891.gif" alt="" srcset="">
 <h1> {{artistid.name}}</h1>
<h1>{{artistid.works}}</h1>
<h1>{{artistid.style}}</h1>
<h1>{{artistid.popularwork}}</h1>
<h1>{{artistid.collab}}</h1>
<h1>{{artistid.careerDate}}</h1>
<h1>{{artistid.recent}}</h1>




<form method="POST" action="/artist/{{artistid.id}}?_method=PUT">

    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
    <label for="un">name:</label>
    <input type="text" value="{{updatedartist.name}}" name="name" />
    <label for="un">works:</label>
    <input type="text" value="{{updatedartist.works}}" name="works" />
    <label for="un">style:</label>
    <input type="text" value="{{updatedartist.style}}" name="style" />
    <label for="un">most poular work of artist:</label>
    <input type="text" value="{{updatedartist.popularwork}}" name="popularwork" />
    <label for="un">main collaborators:</label>
    <input type="text" value="{{updatedartist.collab}}" name="collab" />
    <label for="un">When did the Artist career start?:</label>
    <input type="date" value="{{updatedartist.careerDate}}" name="careerDate" />
    <label for="un">Most recent work of the artist:</label>
    <input type="date" value="{{updatedartist.recent}}" name="recent" />



    <!--

  <!-
    Template for creating input form for a boolean object member
  -->






    <input type="submit" value="Update Shop" />
</form>


<form method="POST" action="/artist/{{artistid.id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>   
</body>
</html>
